* {
  box-sizing: border-box;
}
body  {
  margin: 0;
}

div.polaroid {
  min-width: 15rem;
  width: 18%;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

div.deal {
  margin: 0;
  padding: 0;
  text-align: center;
padding: 0.5rem;
background: transparent;}

.bg-grey {
  background-color: rgb(240, 240, 240);
}

